.about-section h2 {
  font-size: 2.2rem;
}

.about-section img {
  border-radius: 10px;
}

.about-section ul li {
  margin-bottom: 8px;
}

.shadow {
  transition: 0.3s ease;
}

.shadow:hover {
  transform: translateY(-3px);
}
